@import '~vuetify-scss/settings/_variables';
@import '~vuetify-scss/elements/_typography';
@import '~vuetify-scss/tools/helpers/_breakpoint';

$_breakpoints: map-keys($display-breakpoints);

@each $tag, $class in $_heading-classes {
    @each $_breakpoint in $_breakpoints {

        $styles: map-get($headings, $tag);
        
        .#{$class}-#{$_breakpoint} {
            @include breakpoint($_breakpoint) {
                font-size: map-get($styles, size) !important;
                font-weight: map-get($styles, weight) !important;
            }
        }
    }
}