@import '~vuetify/dist/vuetify.min.css';

.field-label {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    margin-bottom: .4rem;
}

.v-input__append-inner {
    z-index: 1;
}

.v-text-field--solo {
    & .v-input__slot {
        box-shadow: none !important;
    }

    &.theme--light {
        & .v-input__slot {
            border: 1px solid #bdbdbd;
        }

        &.v-input--is-focused .v-input__slot {
            box-shadow: 0 0 5px #b9b9b9 !important;
        }
    }
}

.v-input__slot {
    min-height: 42.5px;
}

.v-text-field__details {
    padding: 0 !important;
}

.v-btn.btn__nav-link {
    &:before {
        background-color: unset;
    }
}
