@import '~vuetify/dist/vuetify.min.css';

.field-label {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    margin-bottom: .4rem;
}

.v-input__append-inner {
    z-index: 1;
}

.v-text-field--solo {
    & .v-input__slot {
        box-shadow: none !important;
    }

    &.theme--light {
        & .v-input__slot {
            border: 1px solid #bdbdbd;
        }

        &.v-input--is-focused .v-input__slot {
            box-shadow: 0 0 5px #b9b9b9 !important;
        }
    }
}

.v-input__slot {
    min-height: 42.5px;
}

.v-text-field__details {
    padding: 0 !important;
}

.v-btn {
    font-size: 1rem;
    text-transform: unset;
}

.v-btn.btn__nav-link {
    &:before {
        background-color: unset;
    }
}

.v-application {
    .display-1, .display-2 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    }
}

// Chrome time-picker fix
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// Mozzila time-picker fix
input[type="number"] {
    text-align: center;
    -moz-appearance: textfield;
    max-height: unset;
}
